@charset "UTF-8";
/******************************************
* 공통                                *
*******************************************/
.container {
	width: 980px !important;
}

.table {
	margin: 0px 0px 0px 0px;
}

.table > thead > tr > th, .table > tbody > tr > td {
	text-align: center;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

/******************************************
* 해더영역                                *
*******************************************/
#header-Area {
	padding: 7px 0px 7px 0px;
	border-bottom: 1px solid #bebebe;
	background-color: white;
}

#header {
	padding: 0px 0px 0px 0px;
}

#logo-img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 134px;
}

#loginUserName {
	color: #337ab7;
	margin: 0px 10px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	
}

#top-banner-area {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
}

#top-banner-area #top-banner {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#top-banner-area #banName {
	width: 980px;
	position: absolute;
	top: 40px;
	color: #ffffff;
	font-size: 60px;
    font-weight: bold;	
}

#top-banner-area #date-area {
	width: 980px;
	position: absolute;
	top: 116px;
	color: #ffffff;
	font-size: 45px;
    font-weight: bold;	
}

#top-banner-area #date-area .banDate {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
}

/******************************************
* 컨텐츠 영역 (공통)                      *
*******************************************/

/******************************************
* 컨텐츠영역 > 왼쪽메뉴                   *
*******************************************/
#content #left-area {
	margin: 0px 0px 20px 0px;	
	padding: 0px 0px 0px 0px;	
}

#content #left-area #profile-area {
    background: #efefef;
    border: 1px solid #bebebe;
    margin: 0px 0px 12px 0px;	
    padding: 5px 5px 7px 5px;	
}

#content #left-area #profile-area #teacherName {
	font-size: 12px;
	font-weight: bold;
	margin-top: 7px;
}

#content #left-area #profile-area .profile-text {
	margin: 0px 0px 0px 0px;	
	padding: 0px 0px 0px 0px;	
	font-size: 11px;
}

#content #left-area #profile-area .profile-text.last {
	margin: 0px 0px 10px 0px;	
	padding: 0px 0px 0px 0px;	
	font-size: 11px;
}

#content #left-area #menu-area {
	margin: 10px 0px 10px 0px;	
}

#content #left-area #menu-area > ul{
	margin: 0px 0px 0px 0px;	
	padding: 0px 0px 0px 0px;	
	list-style: none;	
}

#content #left-area #menu-area > ul > li{
	margin: 0px 0px 0px 0px;	
	padding: 10px 5px 10px 5px;	
	border-top: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	
}

#content #left-area #menu-area > ul > li.last{
	margin: 0px 0px 0px 0px;	
	padding: 10px 5px 10px 5px;	
	border: 1px solid #bebebe;
}

.glyphicon{
	color: #337ab7;
    margin-right: 13px;
    margin-left: 30px;}

/******************************************
* 컨텐츠영역 > 메인컨텐츠                   *
*******************************************/
#main-area {
	margin: 0px 0px 0px 0px;	
	padding: 0px 0px 0px 15px;	
}

#main-area #breadcrumb-area {
	height: 38px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #bebebe;
	font-size: 11px;
}

#main-area #main-title {
	padding: 10px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
}

#main-area #main-content-area #student-list {
	padding: 10px 10px 10px 10px;
	background: #f7f7f7;
	border: 1px solid #8e8e8e;
}


#main-area #main-content-area ol{
	padding: 0px 0px 0px 20px;
	font-size: 14px;
}

#main-area #main-content-area ol > li{
	padding: 3px 3px 3px 3px;
}

#main-area #main-content-area ol > li > a{
	text-decoration: none;
}

#main-area #main-content-area #report-area {
	padding: 0px 0px 0px 15px;
}

#main-area #main-content-area #report-area #report-summary{
	margin: 0px 0px 15px 0px;
	background: #f7f7f7;
	border: 1px solid #8e8e8e;
}


/******************************************
* 푸터영역                                *
*******************************************/
#footer-Area {
	font-size: 12px;
}

#footer-Area #footer {
	padding: 10px 10px 0px 10px;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

#footer-Area #footer > ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style:none;
}

#footer-Area #footer > ul > li{
	float: left;
	font-size: 14px;
	font-weight: bold;
}

#footer-Area #footer > ul > li:after{
	margin: 0px 10px 0px 10px;
	content: "|";
	font-size: 14px;
	font-weight: bold;
}

#footer-Area #footer > ul > li.last:after{
	content: "";
	margin: 0px 0px 0px 0px;
}


a:hover { text-decoration: none; }