@charset "UTF-8";

#main-area #main-content-area {
	padding: 10px 10px 10px 10px;
}

.searchF {
	float: left;
}

.addtest {
	float: right;
}

.test_table {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.test_table th {
	text-align: center;
}

.paging {
	margin-top: 10px;
	margin-left: 40%;
}

.examsovle-informaion h2, .examsovle-informaion h3,
	.examsovle-informaion>div {
	text-align: center;
	margin-top: 20px;
}

.testoption {
	margin-left: 10px;
	height: 200px;
}

.testoption>.row {
	margin-top: 15px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 4px;
	text-align: center;
}

.table input[type=text] {
	width: 30px;
}

/*  문제 풀기  */

.proimg{
	height : 300px;
	background-size: contain;
}

.protitle div {
	margin: 0px;
	padding: 0px;
}

.protype {
	height: 300px;
}

.protype .multiple div {
	margin: 10px;
}

.protype .OX {
	margin: 25px 0px 0px 100px;
}

.protype .OX div {
	margin: 25px;
	height: 150px;
	width: 150px;
	float: left;
}

#O {
	background-color: #62B5F8;
}

#X {
	background-color: #F54F40;
}

.shortanswer {
	margin-top: 50px;
	padding-left: 50px;
}

.shortanswer textarea {
	width: 500px;
	height: 150px;
}

.prolist {
	height: 450px;
}

.prolist table {
	
}

.prolist ul {
	text-align: center;
}

.prolist ul li {
	list-style : none;
	margin: 20px;
	font-size: 20px;
}

.prolist table th {
	text-align: center;
}

.prolist table td {
	text-align: center;
	margin-top: 5px;
	font-size: 23px;
}

.answer {
	border: solid 6px green;
}

.givescore {
	padding-left: 250px;
}

.givescore input[type=text] {
	width: 40px;
}

.prolistbtn {
	padding: 15px 0px 0px 55px;
}
