@charset "UTF-8";


/****************************************************************/
/* 공지사항 리스트 ************************************************/
/****************************************************************/
.form-inline{
	float: right;
}

/* 글쓰기 버튼 */
#btn_write {
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	background-color: #63c4e6;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 20px 10px;
	font-size: 15px;
    color: #fff;
	float: right;
	cursor: pointer;
}

/* 목록 버튼 */
#btn_list {
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	background-color: #63c4e6;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 20px 10px;
	font-size: 15px;
    color: #fff;
	float: right;
	cursor: pointer;
}

/* 수정 버튼 */
#btn_modify {
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	background-color: #63c4e6;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 20px 10px;
	font-size: 15px;
    color: #fff;
	float: right;
	cursor: pointer;
}


/* 취소 버튼 */
#btn_cancel {
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	background-color: #63c4e6;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 0px 10px;
	font-size: 15px;
    color: #fff;
	float: right;
	cursor: pointer;
}


/* 등록 버튼 */
#btn_add {
	border: 1px solid #A6A6A6;
	border-radius: 3px;
	background-color: #63c4e6;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 0px 10px;
	font-size: 15px;
    color: #fff;
	float: right;
	cursor: pointer;
}