@charset "UTF-8";
/******************************************
* 성적관리 css                                *
*******************************************/


/******************************************
* 학생리스트                             *
*******************************************/
#main-area #main-content-area #student-list {
	padding: 10px 10px 10px 10px;
	background: #f7f7f7;
	/* border: 1px solid #8e8e8e; */
	height: 635px;
}


#main-area #main-content-area ol{
	padding: 0px 0px 0px 20px;
	font-size: 14px;
}

#main-area #main-content-area ol > li{
	padding: 3px 3px 3px 3px;
}

#main-area #main-content-area ol > li > a{
	text-decoration: none;
}

/******************************************
* 게시판 헤더(성적 평균)                              *
*******************************************/


#boardHeader {width:655px; 
			  height: 100px;
			  background: #F4EBDD;
			  margin-bottom: 30px;
			  }
			
#boardHeader h3 {font-size: 18px;
				 float: left;
				 width: 370px;
				 padding-right: 160px;
				 margin-left: 8px;
				}

#boardHeader .list-inline{font-weight: 560;
						  font-size: 15px;
						  float: left;
						  padding: 15px 0 0 10px;
				  		  }

#boardHeader #total {width:100px;
					 height:100px;
					 background: #D0DFF0;;
					 display: inline-block;
					 float: right;
					 text-align: center;
					 }

#boardHeader #total ul {list-style: none;
					    padding: 0 0 0 0;
					    font-size: 16px;
					    font-weight: 560;
					    }

#boardHeader #total ul li{
						font-size: 14px;
						font-weight: 200;
						}

#boardHeader #total ul li:nth-child(1) {padding-top: 20px;
									   }

#boardHeader #total ul li:nth-child(2) {padding-top: 10px;
										}

.theadS{
	text-align: center;
}

/******************************************
* 시험리스트                              *
*******************************************/

#main-area #main-content-area #report-area {
	padding: 0px 0px 0px 15px;
}

#main-area #main-content-area #report-area #report-summary{
	margin: 0px 0px 20px 0px;
	background: #f7f7f7;
	border: 1px solid #8e8e8e;
}

#main-area #main-content-area .form-group {
	margin-bottom: 15px;
}

#main-area #main-content-area #selecOpt > ul{
	margin: 10px 0px 0px 0px;
	list-style: none;
}


#main-area #main-content-area #selecOpt > ul > li{
	float: left;
	margin: 0px 0px 0px 9px;
}

#main-area #main-content-area #selecOpt > ul > li:after{
	content: "|";
	color: #d0d0d0;
	margin: 0px 0px 0px 9px;
}
