@charset "UTF-8";

/******************************************
* 학생리스트 css                             *
*******************************************/
#board #gradeBoard {
	width:720px;
}
		
									 	
#title-form .row {
	margin-left: 640px;
	padding-bottom: 10px;
}
			
#page {
	text-align:center;
	width:820px;
}
	  
#studentList table tr:nth-of-type(even) { background: red; }


	



