@charset "UTF-8";

.border {border: solid 1px #000000;}

.container {width: 1140px;}

#hedaer {
	height: 50px;
	background-color: #000000;
}


#footer {
	height: 50px;
	background-color: #ff0000;
}




.divscroll {
	height: 500px;
	overflow: scroll;
}