@charset "UTF-8";

#logo-img{
	width: 360px;
	height: 100%;
	margin-top: 18px;
	margin-left: 30px;
}
#logoName-img{
	width: 200px;
	height: 35px;
	margin-left: 30px;
}
ul{
	list-style:none;	
	margin-left: -40px;
}
ul li{
	float: left;
	font-size: 18px;
	margin-top: 30px;
	margin-left: 30px;
}
ul li a{
	text-decoration: none;
	color: #316898;
	font-weight: bold
}
ul li a:hover{
	color:black;
} 
.rightmost{
	margin-top: 28px;
}

#myclass{
	font-weight: bold;
	color: white;
	background-color: #66D8F5;
	width: 100px;
}

.btn{
	background-color: #316898;
	width: 100px;
	font-size: 15px;
	color: white;
	font-weight: bold;
}
#text-center{
	padding-left: 575px;
}
#logo-name{
	color: skyblue;
	font-size: 30px;
	text-align: center;
}
#class-name{
	font-size: 20px;
	margin-top: 30px;
}

#inBtn{
	background-color: #316898;
	float: right;
	margin-right: 40px;
	font-size: 15px;
	width: 100px;
}

#span-name{
	font-size: 20px;
	font-weight: bold;
	color: #316898;
	margin-left: 307px;
}

#right{
	margin-top: 30px;
}

#margin-btm{
	margin-bottom: 10px
}

.left_menu {
    min-width: 250px;
    /* position: fixed; */
    background: #efefef;
    height: 716px;
    /* z-index: 99; */
    width: 8%;
    max-width: 195px;
    border-right: 1px #cccccc solid;
}

.left_menu_se {
    font-size: 19px;
    line-height: 3;
    font-weight: 600;
    /*  font-family: ''; */
    /* padding: 0 20px; */
    weight: 400px;
    padding: 15px;
}

#nav1 {
	border-bottom: 1px solid #1b639e;
	margin-top: px;
	width: 172px;
}

#nav2 {
	border-bottom: 1px solid #1b639e;
	width: 172px;
}

.m_order{
	width: 100px;
	height: 35px;
	background-color: #216ba3;
	font-size: 15px;
	color: #fff;
	padding: 8px;
	text-align: center;
	border-radius: 3px;
	margin: 0 0 0 40px;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}