@charset "UTF-8";

.navbar {
    position: relative;
    height: 64px;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    list-style: none;
    border: 1px solid #cccccc;
}

.container {
	width: 1400px;
	height: 64px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid;
}

.navbar-brand{
	float: left;
}

.navbar-brand>img {
    /* display: block; */
    width: 20%; 
    border: 1px solid;
}

.pin_btn{
	background-color: #316898;
	width: 100px;
	font-size: 15px;
	color: white;
	margin-right: 40px;
}

.right{
	margin-top: 14px;
}

.nav{
    position: absolute;
}

.navbar-nav{
	/* float: left; */
	right: 0;
}

nav ul, li {
    list-style: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}