@charset "UTF-8";


#position-parents{
	background-color: white;
	position: relative;
	border: solid 1px black;
	height: 1200px;
}
#div-position{
	background-color: #353535;
	opacity: 0.5;
	border: solid 1px black;
	margin-top: -40px
}
#Creat-Title{
	color:blue;
	margin-bottom: 50px;
	font-size: 50px;	
}

.container-fluid{
	background-color: #F5F6F7;
	
}

.joinArea{
	margin-bottom: 25px;
}

#idArea{
	float: left;
	margin-left: 194px;
}
#pwArea{
	float: left;
	margin-left: 55px;
}
#check-pwArea{
	float: left;
	margin-left: 87px;
}

#id-margin{
	margin-left: 76px;
}
#nameArea{
	float: left;
	margin-left: 27px;
}

#phoneArea{
	margin-right: 141px;
}
#agreeArea{
	margin-right: 12px;
}
.hr{
	width: 280px;
	color: #E4E4E5;
	border: thin solid #E4E4E5;
}

#anotherJoin{
	text-align: center;
	display: block;
	width: 400px;
	height: 40px;
	padding: 6px 0px 0px 0px;
	border: 1px solid #c8c8c8;
	background-color: #FAE100;
	font-size: 23px;
	margin-left: 150px;
}
#all-Area{
	margin-bottom: 100px;
	background-color: rgba( #CDCDCD, #CDCDCD, #CDCDCD, 0.5 );
}