@charset "UTF-8";
#table-div{
	float: left;
    margin-left: 278px;
    width: 780px;
    background-color: #F6EFDE;
    border: solid 2px #D7D7D7;
}
#thead-last{
	float: right;
	margin-right: 10px;
}
#search{
	float: left;
	margin-left: 278px;
    margin-top: 90px;
}
#searchBtn{
	float: left;
	width: 70px;
}
.search-float{
	float:left;
}
#search-img{
	width: 30px;
}
