@charset "UTF-8";
#Creat-Title{
	font-weight: bold;
	margin-bottom: 60px;
    padding-left: 263px;
}
#type-text{
	font-weight: bold;
	color: skyblue;
}

.problemType{
	text-align: center;
	margin-bottom: 50px;
}
#time-point{margin: 10px; text-align: right;}
#TPdiv{margin-bottom: 50px;}
#make-problem{text-align: center;}
#img-file{
	margin-top: 5px;
	margin-bottom: 15px;
	float: left;

}
.fileArea{
		margin-left: 37px;
		margin-bottom: 20px;
}
#last-makeType{margin-bottom: 60px;}

.answer-num{margin-top: 5px;}
.checkBox{margin-top: 10px;}
#save{
	float: right;
	margin-bottom: 20px;
}

#O{
	font-size: 100px;
	color: #00E0F7;
}
#X{
	font-size: 92px;
	color: #E74407;
}

input[type=radio]{
	width: 25px; 
	height: 25px;
}

#out{
	float:left;
}
#last-input{
	margin-bottom: 50px;
}
.radioArea{
	margin-top: -41px;
}
#choice-type{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.answer-content{
	margin-bottom: 15px;
}
.image-num{
	float: left;
	margin-top: 3px;
}
.image-file{
	float: left;
	margin-left: 57px;
}
.image-checkbox{
	float: left;
	margin-left:100px;
}
.check-label{
	float: left;
    margin-top: 3px;
    margin-left: 10px;
}
.image-answer-num{
	margin-bottom: 12px;
}

.image-h4{
	margin: 30px;
}

#text-area{
	margin: 30px;
}
.choice-textMargin{
	margin-bottom: 15px;
}

#image-label{
	margin-right: 20px;
	float: left;
}
#image{
	float: left;
}
#title-label{
	float: left;
    margin-right: 11px;
    margin-top: 5px;
}
#problemTitle{
	width: 550px;
}
#label-problem{
	float: left;
    margin-right: 11px;
    margin-top: 15px;
}
#content{
	width: 550px;
}
#label-description{.
	float: left;
	margin-right: 11px;
    margin-top: 15px;
}
#description{
	width: 550px;
}