@charset "UTF-8";

/****공통*****/
body, div, ul, li, dl, dt, ol, h1, 
h2, h3, h4, h5, h6, input, fieldset, 
legend, p, select, table, th, td, tr, 
textarea, button, form
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

body{
    font-family: "맑은 고딕", 돋움, 굴림;
    font-size: 12px;
}

/* home > banlist */
.table {
	margin-left:15px;
}

/* home > createForm, modifyForm */
.interval {
	margin-top: 22px;
}

.text-right {
	font-size: 14px;
    padding-right: 14px;
    color: #316898;
}

.btn-delete{
    background-color: #F765F0;
    border-color: #EC2FE3;
}

.btn-modify{
    background-color: #75ACDC;
    border-color: #316898;
}

#msg{
	color: #EF88FE;
}
