@charset "UTF-8";


#position-parents{
	background-color: white;
	position: relative;
	/* height: 900px; */
}


text-large{
	padding-left:300px;	
}

#div-position{
	/* background-color: #white; */
	opacity: 0.9;
	background-color: rgba(255, 255, 255);
	margin-top: -900px;
	/* width: 1080px; */
}

#joinform{
	margin-bottom: 10px;
	font-size: 50px;	
}
#join{
	font-size: 23px;
	color: #294350;
}


.container-fluid{
	/* background-color: #F5F6F7; */
}

.joinArea{
	margin-bottom: 25px;
}

#idArea{
	float: left;
	margin-left: 41px;
}
#pwArea{
	float: left;
	margin-left: 53px;
}
#check-pwArea{
	float: left;
	margin-left: 85px;
}

#id-margin{
	margin-left: 0px;
}
#nameArea{
	float: left;
	margin-left: 25px;
}

#phoneArea{
	margin-right: 148px;
}
#agreeArea{
	margin-left: 2px;
	color: black;
}
.hr{
	width: 280px;
	color: #E4E4E5;
	border: thin solid #E4E4E5;
}

#anotherJoin{
	text-align: center;
	/* display: block; */
	width: 400px;
	height: 40px;
	padding: 6px 19px 6px 19px;
	border: 1px solid #c8c8c8;
	background-color: #FAE100;
	font-size: 17px;
	margin-left: px;
	border-radius: 4px;
}
#all-Area{
	background-size: 100%;
	margin-bottom: 109px;
	margin-top: 100px;
}

#img-Area{
	 /* width: 100%; */
	 display: table-cell;
 	 height: 900px;
}
#input-Area{
	text-align: center;
}

.Btn_i{
	width: 190px;
	margin-bottom: 10px;
	border-color: #2e6da4
}

.joinType{
	margin-bottom: 20px;
}

#join-area{
	width: 600px;
}

	
	