@charset "UTF-8";


#position-parents{
	background-color: white;
	position: relative;
/* 	height: 506px; */
}


text-large{
	padding-left:300px;	
}

#div-position{
	opacity: 0.9;
	background-color: rgba(255, 255, 255);
	margin-top: 0px;
	margin-bottom: 36px;
}

#joinform{
	margin-bottom: 10px;
}
#join{
	font-size: 23px;
	color: #d0d0d0;
}


.container-fluid{
	/* background-color: #F5F6F7; */
}

.joinArea{
	margin-bottom: 12px;
}

#idArea{
	float: left;
	margin-left: 41px;
	font-size: 14px;
	font-weight: 500;
    color: #316898;
}
#pwArea{
	float: left;
	margin-left: 54px;
	font-size: 14px;
	font-weight: 500;
    color: #316898;
}
#check-pwArea{
	float: left;
	margin-left: 85px;
	font-weight: 100;
	color: #d0d0d0;
}

#id-margin{
	margin-left: 0px;
	width: 196.5px;
}

#password{
    width: 196.5px;
	}

#msg{
	color: #8C8C8C;
	font-size: 13px;
}
#nameArea{
	float: left;
	margin-left: 28px;
	font-weight: 500;
    color: #316898;
}
#emailArea{
	float: left;
	margin-left: 40px;
	font-weight: 500;
    color: #316898;
}
#phoneArea{
	margin-right: 145px;
	font-weight: 500;
    color: #316898;
}
#agreeArea{
	margin-left: 2px;
	color: black;
}
.hr{
	width: 280px;
	color: #E4E4E5;
	border: thin solid #E4E4E5;
}

#anotherJoin{
	text-align: center;
	/* display: block; */
	width: 400px;
	height: 40px;
	padding: 6px 19px 6px 19px;
	border: 1px solid #c8c8c8;
	background-color: #FAE100;
	font-size: 17px;
	margin-left: px;
	border-radius: 4px;
}
#all-Area{
	background-size: 100%;
	margin-bottom: 20px;
	margin-top: 15px; 
}

#img-Area{
	 display: table-cell;
}
#input-Area{
	text-align: center;
}

.Btn_i{
	width: 196.5px;
	border-color: #2e6da4;
	height: 34px;
    border-radius: 4px;
    background-color: #75ACDC;
    margin-top: 7px;
    margin-bottom: 9px;
    font-size: 15px;
    color: #ffffff;
}

.Btn_j{
	width: 196.5px;
	margin-bottom: 10px;
	border-color: #75ACDC;
}

.joinType{
	margin-bottom: 20px;
}

#join-area{
	width: 600px;
}

#btnCheck {
	background-color: #e6e6e6;
    border-color: #ccc;
    border-radius: 4px;
    height: 34px;
    color: #8C8C8C;
    margin-left: 3px;
}
    
.btn-join {
    height: 34px;
    border-radius: 4px;
    background-color: #75ACDC;
    margin-top: 7px;
    width: 196.5px;
    font-size: 14px;
    }
    
.form-control{
	width: 196.5px;
}

#retry{
	margin-bottom: 13px;
    color: #EF88FE;
}
