@charset "UTF-8";
/******************************************
* 문제관리 css                                *
*******************************************/


/******************************************
* 카테고리                               *
*******************************************/
#cate-area {
	padding: 0px 15px 0px 0px;
	
}

#cate-area #cate {
	height: 770px;
	padding: 3px 3px 3px 3px;
	background-color: #efefef;
}

#cate-area #cate #cate-controller .btn {
	margin: 4px 2px 4px 2px;
}

#cate-area #cate #cate-list {
	padding: 5px 5px 5px 5px;
}


/******************************************
* 문제리스트                               *
*******************************************/


#main-area #controll-area #txtSearchKyword {
	width: 200px;
}

#th-center {
	text-align: center;
}

.radioSize{
	margin-left: 5px;
}

.selecttimebar{
	width: 176px;
}

.problemAdd{
    margin-bottom: 10px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    background-color: #63c4e6;
    padding: 3px 15px 3px 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.testBtn{
	margin-bottom: 10px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
    background-color: #63c4e6;
    padding: 3px 15px 3px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.selectF{
	margin-left: 8px;
}